@import "./_globleStyle.scss";

.wrap-container-board-detail {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: $white;
    background-size: contain;
    background-image: url(../../images/WelcomeLogin.png);
}

.wrap-board-label {
    margin-top: $spacing;
    color: $blue11324D;
    font-size: $fontSize14 * 2;
    font-weight: $fontWeightLight;
}

.wrap-board-detail-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: $spacing * 3;
}

.list-color {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .color-option {
        width: 36px;
        height: 36px;
        border-radius: $borderRadius;
        margin: $spacing * 0.5;
        cursor: pointer;
        &:hover {
            box-shadow: $boxShadowStyle1;
        }
    }
}

.wrap-list-member {
    margin: $spacing * 2 0;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    .member-option {
        width: 100%;
        box-sizing: border-box;
        padding: $spacing;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: $borderRadius;
        cursor: pointer;
        transition: $transition02;
        box-shadow: $boxShadowStyle1;
        .member-info {
            width: fit-content;
            box-sizing: border-box;
            padding: $spacing;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            color: $blue11324D;
            font-size: $fontSize14;
            font-weight: $fontWeightLight;
            .member-email {
                margin-left: $spacing;
                color: $blue11324D;
                font-size: $fontSize18;
                font-weight: $fontWeightLight;
            }
        }
        .member-action {
            width: fit-content;
            box-sizing: border-box;
            padding: $spacing;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white;
            font-size: $fontSize14;
            transition: $transition02;
            font-weight: $fontWeightLight;
            background-color: $blue11324D;
            border-radius: $borderRadius;
        }
        &:hover {
            background-color: $white;
        }
    }
}

.wrap-chart {
    width: 100%;
    margin: $spacing * 2 0;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: $spacing * 8;
    border-radius: $borderRadius;
    box-shadow: $boxShadowStyle1;
    .chart-wrapper {
        width: 100%;
    }
    .wrap-group-chart {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .wrap-chart-circle {
            width: 45%;
        }
    }
}
